#contenedor {
width: 95%;
height: 620px;
margin: 0px auto;

font-family: 'Raleway', sans-serif;
}
#cabecera {
width: 95%;
height: 100px;
float: left;

margin-left: 2.5%;
margin-top: 4px;
}

.cuadro1 {
width: 80%;
height:100px;
float: left;

}

.cuadro2 {
width: 20%;
height: 100px;
float: left;

}

.logo{
margin-left: 20px;
float: left;
}
.welcome{
margin-left: 300px;
float: left;
border-bottom: 3px solid red;
margin-top:30px;
text-align: center;
color:#585858;
}

.welcomeentreno{
margin-left: 190px;
float: left;
border-bottom: 3px solid red;
margin-top:30px;
text-align: center;
color:#585858;

}

.botoncerrar{
margin-top: 20px;
margin-left: 9px;

}
#cuerpo {
clear: both;
width: 95%;
height: 455px;
float: left;
margin-left: 2.5%;
background-color:#E0E0E0;
}

#cuerpo2 {
clear: both;
width: 95%;
height: 455px;
float: left;
margin-left: 2.5%;
background-color:#FBFCA4;
}


/*------------------FOTO USUARIO---------------------------*/
#contenidofoto {
float: left;
width: 20%;
height: 250px;
}

#fotousuario {
margin-top: 20px;
margin-left: 30px;
width: 200px;
height: 250px;
border-radius: 20px;
}
/*------------------------FIN FOTO USUARIO----------*/
#contenidodatos{
float: left;
width: 45%;
height: 440px;
background-color: #ECEFF1;
margin-top: 8px;
border-radius: 35px;
}

#contenidodatos p{
margin-top:35px;
margin-left: 25px;

}

#contenidodatos2{
float: left;
width: 45%;
height: 440px;
background-color: #FDFEBA;
margin-top: 8px;
border-radius: 35px;
}

#contenidodatos2 p{
margin-top:35px;
margin-left: 25px;

}

#contenidoplan{
float: left;
width: 30%;
height: 440px;
background-color: #ECEFF1;
margin-top: 10px;
border-radius: 35px;
margin-left: 25px
}

#contenidoplan p{
margin-top: 35px;
margin-left: 25px;

}

#contenidoplan3{
float: left;
width: 30%;
height: 440px;
background-color: #FDFEBA;
margin-top: 10px;
border-radius: 35px;
margin-left: 25px
}

#contenidoplan3 p{
margin-top: 35px;
margin-left: 25px;

}
.subrayado {
border-bottom: 3px solid red;
font-size: 16px;
font-weight: bold;
}
/*-----------------------------------pie------------------------*/
#pie {
clear: both;
width: 89%;
height: 100px;
position: fixed;
bottom: 0;
margin-left: 2.5%;
}

#logoentreno{
width: 80px;
height: 80px;
margin-left:230px;
margin-top: -50px;
}


/*-----------------------------TABLA-------------------*/

.espacio{
	overflow: scroll;
	height: 100%;
	width: 100%;
}
td, th {border: 1px solid transparent; height: 30px; }
th { background: #D3D3D3; font-weight: bold; width:10%; }
td { background: #FAFAFA; text-align: center; width:10%; }
tr:nth-child(even) td { background: #F1F1F1; }  
tr:nth-child(odd) td { background: #FEFEFE; } 


.logovideo{
width: 50px;
height: 50px;
}

.videourl{
margin-left: 25%;
margin-top: 0px;
background-color: aqua;
width: 445px;
padding-left: 16px;
height: 260px;
padding-top: 16px;
background-color:#ECEFF1;
position: fixed;
top: 200px;

}

.iconocerrar{
float: right;
margin-top: -275px;

}


/*------------formulario------------------*/

.formulario{
float: left;
width: 47%;
margin-top: 30px;
}
.subrayado {
border-bottom: 3px solid red;
}

/*----------------administracion---------------------*/

.logoadmin{
height: 50px;
width: 50px;
border-radius: 20px;
}

#tituloadmin {
margin-left: 200px;
}

.botonsalir{
float: left;
margin-top: 20px;
margin-left: 30px;
}

.arriba{
padding-left: 40px;
margin-top:40px;
margin-left: 40px;
height: 170px;
width: 12%;
float: left;
clear: both;
font-weight: bold;
background-color: #ECEFF1;
border-radius: 50px;
}
.arriba2{
padding-left: 40px;
margin-top:40px;
margin-left: 40px;
height: 170px;
width: 12%;
float: left;
clear: both;
font-weight: bold;
background-color: #FDFEBA;
border-radius: 50px;
}
.debajo{
padding-left: 40px;
margin-top:40px;
margin-left: 40px;
height: 170px;
width: 12%;
float: left;
font-weight: bold;
border-radius: 50px;
background-color: #ECEFF1;
}
.debajo2{
padding-left: 40px;
margin-top:40px;
margin-left: 40px;
height: 170px;
width: 12%;
float: left;
font-weight: bold;
border-radius: 50px;
background-color: #FDFEBA;
}

.grafica{
width: 61%;
height: 450px;
margin-left: 38%;

}
.logoadmin2{
height: 100px;
width: 100px;
border-radius: 20px;
}

#contenidoplan2{
float: left;
width: 35%;
height: 220px;
background-color: #ECEFF1;
margin-top: 50px;
border-radius: 35px;
margin-left: 40px;
padding: 20px;
font-weight: bold;
}

#contenidoplan3b{
float: left;
width: 35%;
height: 220px;
background-color: #FDFEBA;
margin-top: 50px;
border-radius: 35px;
margin-left: 40px;
padding: 20px;
font-weight: bold;
}

/*------------aplicacion------------------*/
#aplicacion{
height: 250px;
width: 250px;
margin-left: 10%;
margin-top: 5%;
font-weight: bold;
}

fieldset {
	border:1px solid #999;
	border-radius: 19px;
	box-shadow:0 0 10px #999;
}
legend {
	background:#fff;
}

.apli {
  background-image:url(http://daytonavenue.com/wordpress/wp-content/themes/daytonave/library/img/clubhouse/clubhouse3.jpg);
}
/*------------Logo PDF------------------*/
.logoplan{
height: 80px;
width: 80px;
border-radius: 20px;
}

/*------------imagen grafica------------------*/

.graficaimg{
width: 715px;
height: 440px;
margin-left: 30px;
margin-top: 6.5px;
}
